<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/Pagestyle.css">

</head>
<body>
<!--end of login form popup-->
<!--signup form popup-->
<!--end of signup form popup-->
<!--end of login form popup-->
<!--signup form popup-->
<!-- BEGIN | Header -->

<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" src="/images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="/"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
							Home 
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="/">Home 01</a></li>
								<li><a href="/">Home 02</a></li>
								<li><a href="/">Home 03</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							movies
							</a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							news 
							</a>
							
						</li>
						<li class="dropdown first">
							<a  href="/">
								Page
							</a>
					</li>
					<li class="dropdown first">
						<a  href="/">
							Others
						</a>
				</li>
				<li class="dropdown first">
					<a  href="/">
						Communites
					</a>
			</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
							<a  href="/movie/view_cart" >
								View Cart
							</a>
							
						</li>                
						<li><a href="#">Help</a></li>
						<% if(!locals.user) { %>
							<li class="btn "><a href="/user/userlogin">login</a></li>
							<% } else { %>
								<li class="btn "><a href="/user/userlogout">log out</a></li>
						<% } %>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    <div class="top-search">
	    	<select>
				<option value="united">TV show</option>
				<option value="saab">Others</option>
			</select>
			<input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
	    </div>
	</div>
</header>